// Lucky Sevens Styles

body {font-family: "Comic Sans MS", cursive, sans-serif}

h1 {font-family: "Times New Roman", Georgia, Serif}

#playButton {
   background-color: #e7e7e7;
   border: 2px solid black;
   color: black;
   padding: 15px 60px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 18px;
 };

 #outcomeTable {
   background-color: #e7e7e7;
   color: black;
   padding: 60px 60px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 18px;
   border-collapse: collapse;
   text-align:center;
   padding: 50px 30px 250px 30px;
 };

table, th, td {
   border: 1px solid white;
   height: 50px
 };
