

#coverimage{
  background-image: url(http://ecx.images-amazon.com/images/I/51rHh9oIoXL._SL500_AA280_.jpg);
  height: 280px;
  width: 280px;
  border: thin solid black;
}

a {
  font-family: monospace;
}

a:link {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: skyblue;
}

@font-face {
  font-family: "Marathon";
  font-style: normal;
  font-weight: normal;
  src: url("/Users/michaeljohnson/Library/Fonts/Marav2.ttf");
}

#bandname{
  font-family: "Marathon";
}

#contributors{
  font-family: "Marathon";
}

li{
  font-family: "marathon";
  font-style: italic;
  font-size: 14pt;
}

 table {
   border-collapse: collapse;
 }

 td {
   font-style: italic;
   background-color: springgreen;
 }

 table, th, td {
     border: 2px solid black;
