/*Macho Nacho stylesheet*/

h1{
    font-family: "Mayan Square";
    font-size: 70pt;
}

.carousel-caption{
    position:static;
}

th {
  font-family: "Mayan Square";
  font-size: 24pt;
}

a {
  font-family:"glyphicon-halflings-regular";
  text-decoration: none;
  font-weight: none;
}

a:link {
  font-family:"glyphicon-halflings-regular";
  text-decoration: none;
  font-weight: none;
  color: darkblue;
}

a:visited {
  color:red;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:active {
   text-decoration: none;
}

#body{
  background-color: Gainsboro;
}

#aboutMe{
  font-family: "Mayan Square";
  font-size: 16pt;
  padding: 5px;
}

#contactInputs {
  font-family: "Mayan Square";
  font-size: 14pt;
  padding: 15px;
  margin: 10px;
  align: center;
  background-color: silver;
  border: 3px solid black;
}

#footer {
  background-color: white;
  color: black;
  font-family: "Mayan Square";
  font-size: 16pt;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

input:required {
  font-weight: bold;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

#aboutMe {
    width: 400px;
    padding: 15px;
    border: none;
    margin: 15px;
}


#navbar {
  font-family: "Mayan Square";
  font-size: 20pt;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

#menu {
    background-color: Gainsboro;
    color: black;
}

@font-face {
  font-family: "glyphicon;"
}

@font-face {
    font-family: "Mexican Fiesta";
    font-style: normal;
    font-weight: normal;
    src: url("/Users/michaeljohnson/Library/Fonts/mexican fiesta.ttf");
  }

@font-face {
  font-family: "Mayan Square";
  font-style: normal;
  font-weight: normal;
  src: url("/Users/michaeljohnson/Library/Fonts/mayan square.ttf");
}
