/*Macho Nacho stylesheet*/

h1{
  font-size: 50pt;
  font-style: italic;
}

#navbar {
  font-variant: small-caps;
  font-size: 20pt;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  font-size: 14px;
  align: center;
  margin-left: auto;
  margin-right: auto;
}
