/*Macho Nacho stylesheet*/

h1{
    font-family: "Mayan Square";
    font-size: 70pt;
}

th {
  font-family: "Mayan Square";
  font-size: 24pt;
}

td.required {
  font-weight: bold;
}

#body{
  background-color: yellow;
}

#aboutMe{
  font-family: "Mayan Square";
  font-size: 16pt;
}

#footer {
  font-family: "Mayan Square";
  font-size: 16pt;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  font-family: "Mayan Square";
  font-size: 20pt;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Mayan Square";
  font-style: normal;
  font-weight: normal;
  src: url("/Users/michaeljohnson/Library/Fonts/mayan square.ttf");
