/*Macho Nacho stylesheet*/

h1{
    font-family: "Mayan Square";
    font-size: 70pt;
}

th {
  font-family: "Mayan Square";
  font-size: 24pt;
}

td.required {
  font-weight: bold;
}

a {
  font-family: "Mexican Fiesta";
  color: darkblue;
  text-decoration: none;
  font-weight: none;
}

a:link {
  color: darkblue;
}

a:visited {
  color:red;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:active {
   text-decoration: none;
}

#body{
  background-color: yellow;
}
 
#aboutMe{
  font-family: "Mayan Square";
  font-size: 16pt;
}

#footer {
  background-color: white;
  color: black;
  font-family: "Mayan Square";
  font-size: 16pt;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

input:required {
  font-weight: bold;
}

#navbar {
  font-family: "Mayan Square";
  font-size: 20pt;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Mayan Square";
  font-style: normal;
  font-weight: normal;
  src: url("/Users/michaeljohnson/Library/Fonts/mayan square.ttf");
